.center {
  padding-left: 20vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ancho{
  width: 250%;
}

.loginbutton{
  margin-top : 10%;
  margin-bottom: 5%;
}

.mat-raised-button{
  background-color: #0ED28C;
  color: white;
  width: 50%;
}

.separation{
  padding-left: 20vh;
}
